@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    @apply bg-gray-100;
}

.form-control {
    @apply block w-full px-3 py-2 mt-1
            border border-gray-300
            rounded-md shadow-sm
            focus:outline-none focus:ring-blue-500 focus:border-blue-500
            sm:text-sm
            transition-shadow;
}
.btn-primary {
    @apply inline-flex justify-center px-4 py-2
            border border-transparent
            text-sm font-medium rounded-md shadow-sm
            text-white bg-blue-600
            hover:bg-blue-700
            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500
            transition-colors;
}
.btn-delete {
    @apply inline-flex justify-center px-4 py-2
            border border-transparent
            text-sm font-medium rounded-md shadow-sm
            text-white bg-red-600
            hover:bg-red-700
            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500
            transition-colors;
}
.form-label {
    @apply block text-sm font-medium text-gray-700;
}
